html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 14px;
}

body {
  background-color: rgb(244, 244, 244);
  color: rgba(12, 12, 101, 0.8);
  padding: 5px;
}

h2 {
  margin-top: 2em;
}
