html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 14px;
}

body {
  background-color: rgb(244, 244, 244);
  color: rgba(12, 12, 101, 0.8);
  padding: 5px;
}

h2 {
  margin-top: 2em;
}

.info {
  width: max-content;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
